{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/state-in-constructor": 0,
    "no-throw-literal": 0,
    "react/static-property-placement": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0,
    "max-classes-per-file": 0
  }
}
